@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-width: 220px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #5f6e89;
  --saaral: #f9fafc;
  --oronge: #ffa800;
  --red: #ff6a6a;
  --white: #fff;
  --black: #333;
  --blue: #81d4fa;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

button,
input {
  border: none;
}

svg {
  display: block;
}

body {
  font: 19px/1.5 "Roboto", sans-serif;
}

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 8px;
  width: var(--page-header-width);
  color: var(--page-header-txtColor);
  background: var(--page-header-bgColor);
}
.page-header nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header .logo {
  display: block;
  margin: 0 20px;
}

.page-header .admin-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 25px;
}

.page-header .admin-menu li > * {
  width: 100%;
  padding: 13px 20px;
}

.page-header .admin-menu .menu-heading h3 {
  letter-spacing: 0.15em;
  font-size: 12px;
  margin-top: 12px;
  color: var(--page-header-headingColor);
}

.page-header .admin-menu svg {
  width: 20px;
  height: 20px;
  fill: var(--page-header-txtColor);
  margin-right: 12px;
}

.page-header .admin-menu a,
.page-header .admin-menu button {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus,
.page-header .admin-menu button:hover,
.page-header .admin-menu button:focus {
  background: var(--page-header-bgColor-hover);
  color: var(--white);
  outline: none;
}

.page-header .admin-menu a:hover svg,
.page-header .admin-menu a:focus svg,
.page-header .admin-menu button:hover svg,
.page-header .admin-menu button:focus svg {
  fill: var(--blue);
}
.dropdown-container {
  display: none;
  margin-left: 8px;
}

.icon-down {
  float: right;
}

/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
  position: relative;
  left: var(--page-header-width);
  width: calc(100% - var(--page-header-width));
  min-height: 100vh;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);
}

.search-and-user {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(--white);
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 15px;
  box-shadow: var(--box-shadow);
}

.search-and-user ::placeholder {
  color: var(--page-content-txtColor);
}

.search-and-user form svg {
  width: 26px;
  height: 26px;
  fill: var(--page-content-txtColor);
}
input[type="search"] {
  height: 28px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-right: 18px;
  padding-left: 6px;
  color: var(--page-content-txtColor);
  background-color: var(--page-header-txtColor);
}
.search {
  float: right;
  margin-top: 12px;
  margin-right: 29px;
  border: none;
  cursor: pointer;
}
.search-and-user form button {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.search-and-user .admin-profile {
  display: flex;
  align-items: center;
}

.search-and-user .admin-profile svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.content {
  width: 750px;
  height: 43px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: rgb(174, 188, 201);
  margin-top: 4%;
  margin-left: 15%;
}
.dropdown-btn {
  display: flex;
  align-items: center;
}
.content .dropdown-container {
  margin-top: 20px;
}
.content .dropdown-container > a {
  display: inline-block;
  margin-right: 25px;
}
.project-card {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  overflow: auto;
  background-color: var(--blue);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.project-plus {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  text-align: center;
  overflow: auto;
  border-style: dashed;
  border-width: 2px;
}

.project-card:hover,
.project-card:focus,
.project-plus:hover,
.project-plus:focus {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dropdown-container svg {
  width: 40px;
  height: auto;
  margin: auto;
  margin-top: 28%;
}

.project-name {
  margin-top: 10px;
  text-align: center;
}
/* ––––––––– Column ––––––––––––––– */
.card-columns {
  box-sizing: border-box;
  overflow: auto;
  margin: 0px 39px;
  margin-top: 25px;
  width: auto;
  height: 100%;
  display: flex;
}
.column {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  display: inline-block;
  border-radius: 4px;
  margin-left: 14px;
  width: 320px;
  min-height: 630px;
}
.card-header {
  height: 50px;
  border-color: #c4c4c473;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: thin;
  display: inline-flex;
}
.column-name {
  cursor: pointer;
  width: 65%;
  margin: auto;
  border-radius: 5px;
  margin-left: 7%;
  padding-left: 4px;
}
.plus-card {
  margin: auto;
  height: 50%;
  cursor: pointer;
  width: 10%;
  border-radius: 5px;
  margin-left: 5%;
}
.edit-card {
  margin: auto;
  width: 12%;
  height: 50%;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5%;
}
.plus-card svg {
  margin: auto;
  margin-top: 5px;
}
.edit-card svg {
  margin: auto;
}
.cards {
  width: 85%;
  margin: auto;
  margin-top: 7%;
}
.card {
  border: 1px solid rgb(235, 235, 235);
  width: 100%;
  height: 110px;
  margin-top: 6%;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(131, 131, 131, 0.2);
  border-radius: 2px;
  padding: 5%;
}

.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.75px;
  color: rgba(95, 110, 137, 0.8);
}
.card-date {
  margin: auto;
  display: flex;
  margin-top: 2%;
}
.card-date p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.75px;
  color: #040404;
  opacity: 0.4;
}
.card-assign {
  text-align: center;
  display: flex;
  margin-top: 3%;
}
.card-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.card-assign p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-left: 6px;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0.75px;
  color: rgba(95, 110, 137, 0.8);
}
.card-level {
  margin-left: auto;
  background: var(--red);
  border-radius: 100px;
  width: 30%;
  height: 90%;
}
.card-level > p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #ffffff;
  margin: auto;
  opacity: 0.87;
}
.card:hover,
.card:focus {
  background: var(--saaral);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.add-task {
  display: flex;
  text-align: center;
  width: 100%;
  overflow: auto;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 21%;
}
.add-task svg {
  margin-top: auto;
  margin-bottom: auto;
}
.add-task p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(95, 110, 137, 0.8);
  margin-left: 5px;
}
.column-name:hover,
.column-name:focus,
.edit-card:hover,
.edit-card:focus,
.plus-card:hover,
.plus-card:focus {
  background-color: #f5f5f5;
  transition: 0.2s;
}
.add-task:hover,
.add-task:focus {
  background-color: #f5f5f5;
  transition: 0.2s;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
