*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    position: relative;
width: 1440px;
height: 1024px;
background: #FFFFFF;
}
.nav-container {
    position: relative;
    height: 150px;
  }
  .nav-container .logo {
    position: absolute;
left: -7.19%;
right: 11.82%;
top: 19.05%;
bottom: -5.16%;

font-family: Sarabun;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 16px;
/* or 67% */

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

/* Main/Orange */

color: #FFA800;

mix-blend-mode: normal;
  }
  .nav-container .logo h1 {
    color: #54cbf0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 50px;
  }
  .nav-container .logo img{
    padding-top: 12px;
    height: 100%;
  }

.hero-container{
    position: absolute;
width: 445.63px;
height: 165.13px;

font-family: Timmana;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 16px;
/* or 80% */

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #000000;

transform: rotate(0.29deg);
}
.right{
    position: absolute;
width: 1440px;
height: 914px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper{
    background: rgba(255, 254, 254, 0.6);
    padding: 1.2rem;
}
.wrapper{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  /* menuButton */
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  /* or 111% */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  
  /* har */
  
  color: #040404;
}
.wrapper{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.wrapper{
    text-transform: uppercase;
    font-family: Roboto;
font-style: normal;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.wrapper{
    background: rgb(255, 255, 255);
    padding: 1.2rem;
}