:root {
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-width: 220px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #5f6e89;
  --saaral: #f9fafc;
  --green: #23cb51;
  --oronge: #ffa800;
  --red: #ff6a6a;
  --white: #fff;
  --black: #333;
  --blue: #81d4fa;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

.navigation {
  height: 70px;
  background: #ffffff;
}

.brand {
  float: left;
  line-height: 70px;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: var(--oronge);
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  margin-left: 300px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  margin-left: 100px;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: var(--black);
  text-decoration: none;
}

nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
